<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>virtus.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Rambler Contacts</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>Contacts</string>
	<key>CFBundleIdentifier</key>
	<string>com.rambler.contacts</string>
	<key>NOTE</key>
	<string>Good news, everyone!</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>CFBundleVersion</key>
	<string>0.5.1</string>
</dict>
</plist>
