#include <windows.h>
#include "plugin_version.h"
#include "../common.rc"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_PRODUCTVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
	BLOCK "040904E4"
	BEGIN
	    VALUE "CompanyName",        VER_COMPANYNAME_STR
	    VALUE "FileDescription",    VER_FILEDESCRIPTION_STR
	    VALUE "FileVersion",        VER_PRODUCTVERSION_STR
	    VALUE "InternalName",       VER_INTERNALNAME_STR
	    VALUE "LegalCopyright",     VER_LEGALCOPYRIGHT_STR
	    VALUE "LegalTrademarks1",   VER_LEGALTRADEMARKS1_STR
	    VALUE "LegalTrademarks2",   VER_LEGALTRADEMARKS2_STR
	    VALUE "OriginalFilename",   VER_ORIGINALFILENAME_STR
	    VALUE "ProductName",        VER_PRODUCTNAME_STR
	    VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
	END
    END
END
