QLabel
{
	padding-left: 1px;
}

QDialog
{
	background-color: rgba(65, 70, 77, 250);
}

QLabel#lblCaption
{
	font-size: 18px;
	padding-left: 1px;
}

QComboBox, QToolButton
{
	margin-top: 1px;
}

QPushButton#tlbDomains
{
	min-width: 80px;
	max-width: 80px;
	width: 80px;
	min-height: 25px;
	text-align: left;
	margin-top: 1px;
}

QDialogButtonBox
{
	padding-right: 4px;
}

Menu#domainsMenu::item
{
	padding-left: 8px;
}