QLabel#lblName
{
	font-size: 18px;
} 

QLabel#lblStatusText
{
	color: #acacac;
	font-size: 11px;
}

QLabel#lblStatusName
{
	font-size: 13px;
}

QScrollArea#scaContacts,
QScrollArea#scaContacts QWidget,
QFrame#frmContents
{
	background-color: transparent;
}
