QLineEdit, QLineEdit:!enabled, QLineEdit:focus
{
	color: white;
	border: none;
	border-image: none;
	font-size: 18px;
	margin-left: 10px;
	margin-right: 10px; 
	min-height: 50px;
	background-color: transparent;
}

QPushButton
{
	min-width: 40px;
}

QLabel#lblBalance
{
	color: #acacac;
	text-decoration: underline;
}