#define RT_MANIFEST 24
#define APP_MANIFEST 1

APP_MANIFEST RT_MANIFEST "../Microsoft.VC90.CRT.manifest"

#include <windows.h>

#define VER_FILEVERSION             0,3,5,0
#define VER_FILEVERSION_STR         "0.3.5.0\0"

#define VER_PRODUCTVERSION          0,3,5,1057
#define VER_PRODUCTVERSION_STR      "0.3.5\0"

#define VER_FILEDESCRIPTION_STR     "Rambler Contacts Utility Library"
#define VER_INTERNALNAME_STR        "Utils"
#define VER_COMPANYNAME_STR         "Rambler Internet Holding LLC"
#define VER_LEGALCOPYRIGHT_STR      "Copyright © 2011 Rambler Internet Holding LLC"
#define VER_LEGALTRADEMARKS1_STR    "All Rights Reserved"
#define VER_LEGALTRADEMARKS2_STR    VER_LEGALTRADEMARKS1_STR
#define VER_ORIGINALFILENAME_STR    "ramblercontacts.exe"
#define VER_PRODUCTNAME_STR         "Rambler Contacts"

#define VER_COMPANYDOMAIN_STR       "http://rambler.ru"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_PRODUCTVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
	BLOCK "040904E4"
	BEGIN
	    VALUE "CompanyName",        VER_COMPANYNAME_STR
	    VALUE "FileDescription",    VER_FILEDESCRIPTION_STR
	    VALUE "FileVersion",        VER_PRODUCTVERSION_STR
	    VALUE "InternalName",       VER_INTERNALNAME_STR
	    VALUE "LegalCopyright",     VER_LEGALCOPYRIGHT_STR
	    VALUE "LegalTrademarks1",   VER_LEGALTRADEMARKS1_STR
	    VALUE "LegalTrademarks2",   VER_LEGALTRADEMARKS2_STR
	    VALUE "OriginalFilename",   VER_ORIGINALFILENAME_STR
	    VALUE "ProductName",        VER_PRODUCTNAME_STR
	    VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
	END
    END
END
